.App {
  /* border: 2px solid; */
}

.Search {
  display: flex;
  flex-direction: row-reverse;
  padding: 20px;
}

.container {
  padding: 50px;
  padding-bottom: 100px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
  grid-auto-rows: 300px;
  /* grid-template-rows: 260px 400px 400px; */
}

@media screen and (max-width: 900px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
    padding: 10px;
  }
}

@media screen and (max-width: 450px) {
  .container {
    grid-template-columns: 1fr;
    grid-gap: 50px;
    padding: 10px;
  }
}
