.App {
  /* border: 2px solid; */
}

.Search {
  display: flex;
  flex-direction: row-reverse;
  padding: 20px;
}

.container {
  padding: 10px 50px 100px 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
  grid-auto-rows: 300px;
  /* grid-template-rows: 260px 400px 400px; */
}

.login {
  text-align: center;
}

.login-btn {
  background-color: black;
  height: 70px;
  display: block;
  width: 25%;
  margin: auto;
  color: white;
  border-radius: 10px;
}

.login-btn img {
  height: 80%;
  float: left;
  margin-top: 2%;
  margin-left: 32px;
}

.login-btn span {
  line-height: 4;
}

.fellows-count {
  font-weight: bold;
  margin: 0 5%;
}

@media screen and (max-width: 900px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
    padding: 10px;
  }
}

@media screen and (max-width: 450px) {
  .container {
    grid-template-columns: 1fr;
    grid-gap: 50px;
    padding: 10px;
  }
}
